body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    /*background: rgba(49,49,49,0.8);*/
    background: rgba(79, 72, 99, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffa06d;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: #ff5c2f;
}

p{
    color: rgb(0, 0, 0);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

h3{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size:25px;
    /*color: rgb(24, 8, 66);*/
    color:rgb(128, 102, 192);
    box-shadow: 2px rgb(19, 6, 48);
}